body {
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.buttons {
    margin-bottom: 90px;
}
.rockB {
    background-color: black;
    color: red;
    font-size: 20px;
    border-color:azure;
    height: 60px;
    width: 200px;
}

.paperB {
    background-color: black;
    color: red;
    font-size: 20px;
    border-color:azure;
    height: 60px;
    width: 200px;
}

.scissorsB {
    background-color: black;
    color: red;
    font-size: 20px;
    border-color:azure;
    height: 60px;
    width: 200px;
}

.results {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.counter {
    font-size: 25px;
    color: lightgreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
